<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ice And Fire</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container-fluid">
      <a  (click)="goback()"><span class="back glyphicon glyphicon-hand-left"></span></a><br/>
      <h1 class="ttl">{{title}}</h1>
  <br/><br/><br/><br/>

  <div class="parent">
      <div class="card" style="order:1;">
          <div class="card-body">
            <img class="card-img-top" src="/assets/images/images (1).jpeg" >
            <a class="card-link" [routerLink]="[view_1]">View - 1</a>
          </div>
        </div>
        <div class="card" style="order: 2">
            <div class="card-body">
              <img class="card-img-top" src="/assets/images/images.jpeg">
              <a class="card-link" [routerLink]="[view_2]">View - 2</a>
            </div>
        </div>  
  </div>
<br/><br/><br/>
          <router-outlet></router-outlet>    
      
    
  

  </div>  
</body>
</html>
