.card {
    align-self: center;
    border-radius: 10px;
    display: block;
    width: 50vw;
    height: auto;
    align-content: center;
    border: navy 6px double;
}
.card .card-header {
    text-align: center;
    font-weight: 700;
    padding: 8px;
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma;
    color: navy;
}
.card .list-group .list-group-item {
    text-align: center;
    font-weight: 500;
    padding: 8px;
    font-size: 2rem;
    font-family:Cambria, Cochin;
    color: midnightblue;
    background-color:lightblue;
    text-decoration-line: none;
    border: navy 1px groove;
}
@media screen and (min-width: 366px) and (max-width: 440px) {
    .card .card-header {
        font-weight: 500;
        font-size: 2.8rem;
    }
    .links {
        font-size: 2rem;
    }
}
@media screen and (min-width: 280px) and (max-width: 365px) {
    .card .card-header {
        font-weight: 500;
        font-size: 2.5rem;
    }
    .links {
        font-size: 2rem;
    }
}
@media screen and (min-width: 200px) and (max-width: 279px) {
    .card .card-header {
        font-weight: 400;
        font-size: 2rem;
    }
    .links {
        font-weight: 200;
        font-size: 1.5rem;
    }
}
